<div class="row">
  <div class="col-md-12">
    <div class="card card-user">
      <div class="card-header">
        <p class="card-title" style="font-size: 25px;">Add User</p>
      </div>
      <div class="card-body">
        <form [formGroup]="userForm">
          <div class="row">
            <div class="col-md-6 pr-1">
              <div class="form-group">
                <label for="exampleInputEmail1">AD User Name</label>
                <input type="text" class="form-control" formControlName="adName">
                <!-- <div *ngIf="submitted && formFileds.adName.errors" class="invalid-feedback">
                  <div *ngIf="submitted && formFileds.adName.errors.required">AD user name is required</div>
              </div> -->
              </div>
            </div>
            <div class="col-md-6 pr-1 pt-4">
              <button type="submit" class="btn btn-default btn-round">Retrieve User</button>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 pr-1">
              <div class="form-group">
                <label for="exampleInputEmail1">Name</label>
                <input type="name" class="form-control" formControlName="name"disabled>
              </div>
            </div>
            <div class="col-md-6 pr-1">
              <div class="form-group">
                <label>Email</label>
                <input type="email" class="form-control"  disabled formControlName="email">
              </div>
            </div>

          </div>
          <div class="row">
            <div class="col-md-6 pr-1">
              <div class="form-group">
                <label>User Role</label>
                <input type="text" class="form-control" formControlName="userRole" disabled>
              </div>
            </div>
            <div class="col-md-6 pr-1">
                <div class="form-group">
                    <label for="exampleInputEmail1">Team Name</label>
                    <select class=form-control >
                      <option value="">Select Team Name </option>
                      <!-- <option *ngFor="let team of teams" value="team">  </option> -->
                  </select>
                </div>
              </div>
          </div>
          <div class="row">
            <div class="col-md-3 pl-3 pt-4 mt-2">
              <div class="form-group">
                <label style="margin-right: 10px;">Status</label>
                <label class="switch">
                  <input type="checkbox" checked formControlName="isEnable" >
                  <span class="slider round"></span>
                </label>
              </div>
            </div>
          </div>
          <div class="row ml-auto mr-auto">
            <div class="flex-grow-1"> </div>
            <div class="update " style="align-self: flex-end; margin-right: 3%;">
              <button type="submit" class="btn btn-primary btn-round"  style="width: 120px; margin-right: 40px" (click)="save()" [disabled]="!validateRequiredFeilds">Save</button>
              <button type="submit" (click)="clear()" class="btn btn-default btn-round" style="width: 120px">Clear</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <p class="card-title" style="font-size: 25px;"> User List</p>
      </div>
      <div class="card-body" >
        <div class="table-responsive" style=" overflow-y:hidden;">
          <table class="table">
            <thead class=" text-primary">
              <th>
                User Name
              </th>
              <th>
                Display Name
              </th>
              <th>
                Email
              </th>
              <th>
                  Team name
              </th>
              <th>
                User Role
              </th>
              <th>
                Status
              </th>
            </thead>
            <tbody>
              <tr *ngFor="let user of userList;">
                <td>{{ user.adName }}</td>
                <td>{{ user.adminName }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.defaultRole }}</td>
                <td>
                  <label class="switch">
                    <input type="checkbox" (change)="openConfirmation(user.adName,user.enabled,'Enable Confirmation')"
                     [checked]="user.enabled" [disabled]="userName==user.adName">
                    <span class="slider round"></span>
                  </label>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
