<!-- <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title"> User Role List</h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class=" text-primary">
                <th>
                  User role
                </th>
                <th>
                  User Name
                </th>
                <th>
                  Email
                </th>
                <th class="text-right">
                  Edit
                </th>
              </thead>
              <tbody >
                  <tr *ngFor="let country of countries; index as i">
                      <th scope="row">{{ i + 1 }}</th>
                      <td>
                        <img [src]="'https://upload.wikimedia.org/wikipedia/commons/' + country.flag" class="mr-2" style="width: 20px">
                        {{ country.name }}
                      </td>
                      <td>{{ country.area | number }}</td>
                      <td>{{ country.population | number }}</td>
                    </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-12">
      <user-cmp></user-cmp>
    </div>
  </div>
   -->